{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SW_IDEA</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://kit.fontawesome.com/f95b2ab384.js" crossorigin="anonymous"></script>
</head>
<body>
  <header class="d-flex justify-content-around py-3">
    <a href="{% url 'posts:list' %}">My <span id="color-ch">SW Idea</span> Manage</a>
    <div class="d-flex justify-content-between nav-con">
      <a href="{% url 'posts:create' %}">아이디어 등록</a>
      <a href="{% url 'posts:list' %}">아이디어 관리</a>
      <a href="{% url 'posts:tool_create' %}">개발툴 등록</a>
      <a href="{% url 'posts:tool_list' %}">개발툴 관리</a>
    </div>
  </header>
  <div class="container my-5 p-4" id="main-con">
    {% block content %}
    {% endblock %}
  </div>
  <footer>

  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'js/post.js' %}"></script>
  {% comment %} <script type="text/javascript">
    function post_like(id) {
      $.ajax({
          url: "{% url 'posts:like_post' %}", // data를 전송할 url 입니다.
          data: {
              'post.pk': id
          }, // post_id 라는 name으로 id 값 전송
          dataType: "json",
          success: function (response) { // ajax 통신이 정상적으로 완료되었을 때
              $('#like_count').html(response.like_count) //id가 like_count의 내용을 전송받은 좋아요 수로 바꾼다
              $('#message').html(response.message) //id가 message의 내용을 전송받은 message로 바꾼다
              $('.toast').fadeIn(400).delay(100).fadeOut(400)
              if (response.message == "좋아요")
              //좋아요 눌렀을 때 
              {
                  $('#heart').attr("class", "fas fa-heart")
              } else if (response.message == "좋아요 취소")
              //좋아요 상태에서 다시 눌렀을 때 
              {
                  $('#heart').attr("class", "far fa-heart")
              }
          }
      })
    }
  </script> {% endcomment %}
</body>
</html>