<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container d-flex justify-content-center">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        {{form}}

      </table>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-light m-2">SUBMIT</button>
      </div>
    </form>
  </div>
</body>
</html>