{% extends 'reviews/base.html' %}

{% block content %}
  <div class="d-flex justify-content-end me-5 mt-5">
    <form action="/" method="get" id="sort">
      <select id="selectbox" onchange="location = this.value;">
        <option class="sort-date" value="/">-----</option>
        <option class="sort-date" value="?sort=pk">최신순</option>
        <option class="sort-star" value="?sort=star">별점순</option>
        <option class="sort-title" value="?sort=title">제목순</option>
        <option class="sort-time" value="?sort=time">상영시간순</option>
      </select>
    </form>
  </div>
  <div class="container mt-3" id="r_list_main">
    <div class="row">
      {% for i in reviews %}
        <div class="col-3 p-3 bg-light my-4">
          <div class="card">
            <img class="card-img-top" src="{{i.image.url}}" alt="{{i}}의 image" height="350rem" />
            <div class="card-body">
              <h3><a href="{{i.get_absolute_url}}">{{i.title}}</a></h3>
              <p><span class="text-muted">개봉년도</span> {{i.year}}</p>
              <p><span class="text-muted">장르</span> {{i.category}}</p>
              <p><span class="text-muted">별점</span> {{i.star}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}